/* HEADER */

.header {
    position: absolute;
    width: 100%;
    padding: 12px 0 10px 0;
}


.logo {
    display: block;
    font-size: 30px;
    font-family: "Montserrat";
    color: #fff;
    font-weight: 700;
}


.main-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    
    &__item{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        justify-content: space-between;
        min-width: 500px;
    }
}



.menu-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 14px;
    font-family: "Montserrat";
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    &__item:not(:last-child){
        margin-right: 29px;
    }
    
    
    &__item-link{
        display: block;
        color: #fff;
        position: relative;
        &:hover, &:after {
            color: #fce38a;
        }
        
        &::after {
            content: '';
            display: block;
            width: 0;
            height: 3px;
            background: #fce38a;
            -webkit-transition: width .3s;
            -o-transition: width .3s;
            transition: width .3s;
            margin-top: 12px;
            position: absolute;
            bottom: -12px;
        }
        
        &:hover::after {
            width: 100%;
            -webkit-transition: width .3s;
            -o-transition: width .3s;
            transition: width .3s;
        }
    }
    
}




.nav-actions{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 0;
    width: 76px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    &__icon{
        fill: #fff;
    }
    
    &__icon:hover, &__icon:focus{
        fill: #fce38a;
    }
}

