
/* TEAM CARDS */

.team-list {
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    &__card{
        width: 380px;
    }
            
}


.team-list__card-item {
    background-color: #95e1d3;
    color: black;
}


.team-list__card-item-img img {
    display: block;
    -o-object-fit: cover;
       object-fit: cover;
    height:470px; 
    width:380px;
}

.team-list__card-item-img {
    position: relative;
    -webkit-transition: -webkit-transform .2s linear;
    transition: -webkit-transform .2s linear;
    -o-transition: transform .2s linear;
    transition: transform .2s linear;
    transition: transform .2s linear, -webkit-transform .2s linear;
}

.team-list__card-item-img::before {
    position: absolute;
    content: "";
    background-image: -webkit-gradient(linear, left top, right top, from(#fce38a), to(rgb(243, 129, 129)));
    background-image: -o-linear-gradient(left, #fce38a 0%, rgb(243, 129, 129) 100%);
    background-image: linear-gradient(90deg, #fce38a 0%, rgb(243, 129, 129) 100%);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: opacity .2s linear;
    -o-transition: opacity .2s linear;
    transition: opacity .2s linear;
}

.team-list__card-item-img:hover::before{
    opacity: 0.72;
}


.team-list__card-item-img:hover {
    -webkit-transform: translate(-10px, -10px);
        -ms-transform: translate(-10px, -10px);
            transform: translate(-10px, -10px);
}



/* TEAM INFO */

.team-list__card-info{
    padding: 27px 0;
}

.team-list__card-name{
    font-size: 14px;
    font-family: "Montserrat";
    color: #333333;
    text-transform: uppercase;
    text-align: center;
}

.team-list__card-profession{
    font-size: 15px;
    font-family: "Roboto";
    color: #999999;
    font-style: italic;
    line-height: 1.6;
    text-align: center;
}
